.venv/
__pycache__/
data/raw/*
!data/raw/.gitkeep
data/warehouse/*
!data/warehouse/.gitkeep
olist_dbt/target/
olist_dbt/logs/
olist_dbt/dbt_packages/
.tmp_dagster_home_*/
.dagster_home/
logs/
.DS_Store
